@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    background: url(../resource/light-bulb-4514505.jpg) left center no-repeat;

    background-size: cover;
    background-position: center center;
    display: flex;
    height: 100vh;
    font: 400 16px 'poppins', sans-serif;
    flex-direction: co;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    --color: #1f242d;
    --color-invert: #fff;
    --clip-path: circle(15px at left);
    --clip-path-hover: circle(70px at left);
    --clip-path-clicked: (100%);
    --duration: 0.4s;
    --timing-function: ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.video {
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    clip-path: var(--clip-path);
    margin-left: 15px;
    transition: clip-path var(--duration) var(--timing-function);
}

.video video {
    position: fixed;
    background-color: #c4cbde;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

.wrapper input {
    width: 220px;
    height: 40px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 40px;
    z-index: 2;
    appearance: none;
    cursor: pointer;
}

.wrapper input:focus {
    outline: 0;
}

.wrapper input:hover~.video {
    clip-path: var(--clip-path-hover);
}

.wrapper input:hover~.text::before {
    --r: 25px;
    --opacity: 1;
}

.text>span::before,
.text>span::after {
    content: attr(data-text);
    padding-left: 26px;
}

.text {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
    opacity: var(--opacity, 1);
    transition: opacity 0.3s var(--timing-function) 0.2s;
}

.text::before,
.text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    right: 25px;
    height: 0;
}

.text::before {
    box-shadow: 26px 0 0 1px var(--color);
    right: var(--r, 100%);
    opacity: var(--opacity, 0);
    transition: right 0.5s ease-in, opacity 0.1s linear;
}

.text::after {
    box-shadow: 26px 0 0 1px var(--color-invert);
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
}

.text>span::before {
    color: var(--color);
}

.text>span::after {
    color: var(--color-invert);
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
    position: absolute;
    left: 0;
}

.wrapper input:hover~.text::after {
    clip-path: var(--clip-path-hover);
}


.wrapper input:hover~.text span::after {
    clip-path: var(--clip-path-hover);
}

.wrapper input:checked {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.wrapper input:checked~.video {
    clip-path: var(--clip-path-clicked);
}

.wrapper input:checked~.text {
    --opacity: 0;
    transition: opacity 0.3s var(--timing-function);
}

.wrapper input:checked~.text::after {
    clip-path: var(--clip-path-clicked);
}

.wrapper input:checked~.text>span::after {
    clip-path: var(--clip-path-clicked);
}